<table>
    <thead>
        <tr>
            <th colspan="3" style="text-align: right;">
                <a href="{% url 'repositories:locker_new' %}">Nuevo</a>
            </th>
        </tr>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for locker in lockers %}
        <tr>
            <td>{{ locker.name }}</td>
            <td>{{ locker.description }}</td>
            <td>
                <a href="{% url 'repositories:folders' locker_pk=locker.pk %}" >Carpetas</a>
                <a href="{% url 'repositories:locker_edit' pk=locker.pk %}">Editar</a>
                <a href="{% url 'repositories:locker_detail' pk=locker.pk %}">Detalles</a>
                <a href="{% url 'repositories:locker_delete' pk=locker.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>